*{
	margin: 0px;
	padding: 0px;
}
html,
body {
	height: 100%;
}
footer {
	margin: 50px 0;
}
/*导航*/
.navbar-inverse{
	width: 100%;
	background: rgba(0, 0, 0, 0);
	color: #ddd;
	font-size: 32px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	transition: background 1s;
	border: none;
}
.scrolledDown{
	background: rgba(0, 0, 0, 1);
	color: #FFF;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 30px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: deepskyblue;
	background-color: transparent;
}
.navbar-inverse .navbar-text {
	color:#fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: deepskyblue;
	background-color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: deepskyblue;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: deepskyblue;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	color: deepskyblue;
	border: none;
	background-color: black;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	color: deepskyblue;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border: none;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #080808;
}

.navbar-inverse .navbar-nav{
	font-size: 20px;
}
/*导航结束*/
/*banner*/
.carousel,
.item,
.active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 40%;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption h2{
	font-size: 45px;
}
.carousel-caption p{
	font-size: 30px;
}
.carousel-caption span{
	color:deepskyblue;
}
/*banner结束*/
/*关于我们*/
#about .row{
	padding-top: 40px;
	padding-bottom: 40px;
}
#about .col-md-12 h2{
	color: #337ab7;
	font-size: 45px;
}
#about img {
	max-width: 100%;
	height: auto;
}
#about .col-md-6{
	padding-top: 30px;
}
#about .col-md-6 p{
	color: #4a5648;
	font-size: 18px;
	padding-bottom: 25px;
}
/*关于我们结束*/
/*组织结构*/
#organization .organization{
	background:url("../img/bgg1.jpg");
	color: #fff;
}
#organization .organization p{
	padding-top: 20px;
}
#organization .organization .col-md-12 h2{
	font-size: 45px;
}
#organization .organization .col-md-6{
	padding-top: 20px;
}
#organization .organization .col-md-6 h2{
}
#organization .organization .col-md-3{
	padding-top: 20px;
}
#organization .organization .col-md-3 h2{
}
/*组织结构结束*/
/*技能*/
#skill .row{
	padding-top: 40px;
	padding-bottom: 40px;
}
#skill .col-md-12 h2{

	font-size: 45px;
}
#skill .col-md-4{
	padding-top: 30px;
}
#skill .col-md-6 p{
	padding-top: 30px;
}

/*技能结束*/
/*技术实力*/
#software .software{
	background: url("../img/bgg1.jpg");
	color: #fff;
}
#software h2{
	font-size: 45px;
}
#software .row{
	padding-top: 40px;
	padding-bottom: 40px;
}
#software .col-md-6{
	padding-top: 40px;
}
#software .col-md-6 p{
	padding-top: 30px;
}
/*技术实力结束*/
/*新闻*/
#news{
	padding-top: 40px;
}
#news .col-md-12 h2{
	font-size: 45px;
	color:#337ab7; ;
}
#news .col-sm-6 {
	padding-top: 40px;
}
/*新闻结束*/
/*页脚*/
#wx-footer{
	background:url("../img/bgg1.jpg");
	color: #fff ;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#wx-footer .footer-right img{
	width: 70px;
	height: 70px;
}
#wx-footer .footer-right .col-md-4 strong{
	margin: 0px 10px;
}

#wx-footer .footer-right .col-md-4 p{
	padding-top: 20px;
}
#wx-footer .footer-right .col-md-4 span{
	margin: 0 3px;
}
#wx-footer .footer-center .col-md-4 li{
	list-style-type: none;
}
#wx-footer .footer-center .col-md-4 li a{
	color: #fff;
}
#wx-footer .footer-center .col-md-4 li a:hover{
	color:#438ead;
}

/*页脚结束*/